<!-- Personal Projects -->
<div class="row">
  <a name='personal_projects'></a>
  <h2>Recent Projects</h2>
</div>

<!-- PageOne.fun -->
<div class="row">
  <div class="columns three" align="center">
      <img src='assets/img/page-one.svg' width='100%'/>
  </div>

  <div class="columns three">
    <a href='https://www.pageone.fun/'>
      Website
    </a>
  </div>

  <div class="columns six">
        <p><b><big>Page One</big></b></br></p>
        <p>Show the first page of a book, if you like it reveal the title and author</p>
  </div>
</div>
<!-- /PageOne.fun -->

<!-- Better Sticky Button -->
<div class="row">
  <div class="columns three" align="center">
      <img src='assets/img/better-sticky-button.png' width='100%'/>
  </div>

  <div class="columns three">
    <a href='https://apps.shopify.com/better-sticky-checkout-button-increase-your-sales'>
      Shopify App Store
    </a>
  </div>

  <div class="columns six">
        <p><b><big>Better Sticky Button</big></b></br></p>
        <p>Shopify app built with ruby on rails</p>
        <p>
          When you scroll a buy button becomes visible
          Has a buy button so customers can quickly add your product to cart
          Has a short description of the product.
          Skip cart to go directly to checkout
        </p>
  </div>
</div>
<!-- /Better Sticky Button -->

<!-- C50 Index -->
<div class="row">
  <div class="columns three" align="center">
      <img src='assets/img/c50.png' width='100%'/>
  </div>

  <div class="columns three">
    <a href='http://www.c50index.com/'>
      Website
    </a><br />
    <a href='https://github.com/kuczmama/c50'>
      GitHub
    </a>
  </div>

  <div class="columns six">
        <p><b><big>C50 Index</big></b></br></p>
        <p>50 CRYPTOS IN 1</p>
        <p>There are thousands of new crypto projects popping up in the world. It takes too much time and skill to sift through all of them.  Why do so much work trying to pick a winner when you can own C50 instead?</p>

        <p>C50 is a token backed by the top 50 cryptocurrencies.</p>

        <p>It is a simple, safe, and secure way to diversify into crypto in one transaction. No stress. No fees. No missing out on the next big thing.</p>
        </p>
  </div>
</div>
<!-- /C50 Index -->

<!-- Jolt -->
<div class='row'>
  <div class='columns three' align="center">
    <img src='assets/img/jolt.png' width="100%">
  </div>
  <div class='columns three'>
    <div>
    <a href='https://play.google.com/store/apps/details?id=rocks.jolt.joltclient'>
      Google Play Store
    </a>
    </div>
    <div>
    <a href='http://www.jolt.rocks/'>
      Website
    </a>
    <a href='https://www.facebook.com/JoltAlarm/'>Facebook</a>
    <a href='https://www.instagram.com/joltalarm/'>Instagram</a>
    </div>
  </div>
  <div class='columns six'>
    <p><b><big>Jolt Alarm CLock</big></b></br>
    Get JOLTED awake! No taser required. Jolt will have you jumping of bed and dancing before your first cup of coffee.
    Jolt combines a fully-featured alarm clock with a new EDM song daily. Each song will be featured for one 24-hour period to ensure that it will be waking users around the world.</p>

    <p>We've contacted countless EDM artists to provide great new music to bring some fun into your morning.</p>
    </p>
    <p>
      A new EDM song will play every single day to wake you up.  It is an Android/IOS app.  The app pulls data using a restful API written in Rails.
    </p>
  </div>
</div>
<!-- /Jolt -->
<!-- Product Loko -->
<div class='row'>
  <div class='columns three' align='center'>
    <img src='assets/img/productloko.jpg' width='100%' height="100%">
  </div>

  <div class='columns three'>
    <div><a href='http://productloko.answrly.com/'>Website</a></div>
    <div><a href='https://www.facebook.com/productloko/'>Facebook</a></div>
  </div>

  <div class='columns six'>
    <b><big>Product Loko</big></b><br>
      A business idea generator with over 10,000 combinations.  
    </p>
    <p>
      Written with ruby on rails.  Hosted on OpenShift.
    </p>
  </div>

</div>
<!-- /Product Loko -->
<!-- DotPopper -->
<div class="row">
  <div class="columns three" align="center">
      <img src='assets/img/dotpopper.png'>
  </div>

  <div class="columns three">
    <a href=
    'https://play.google.com/store/apps/details?id=com.TWINcoGames.android'>
    Play Store</a><br>
    <a href=
    'https://itunes.apple.com/us/app/id896912854?mt=8'>
    iTunes App Store</a><br>
    <a href=
    'https://github.com/kuczmama/dot-popper'>GitHub</a><br>
  </div>

  <div class="columns six">
      <p><b><big>Dot Popper</big></b></br>
        An android
        and IOS game coded with a java library
        called Libgdx.</p>

      <p>It is an arcade style dot popping game
          that is fun for the whole family. Get ready
          for some fun! Dot Popper is an exciting
          game of speed and accuracy where you must
          race against the clock to hit as many green
          dots as possible...while avoiding those
          pesky red dots!</p>

      <p>Each time you pop a green dot, you get 1
            point plus 1 extra second on the
            clock...but that green dot turns red! Watch
            out...each red dot you pop takes 2 seconds
            off the clock and reduces your score by 2.
            Have fun...and get ready to pop some
            dots!</p>
  </div>
<div>
<!-- End DotPopper -->
<!-- Travel Scavenger Hunt -->
<div class="row" style="padding: 2%;">
  <div class="columns three"
    align="center"><img src=
    'assets/img/travelscavengerhunt.png' width='100%' height="100%">
  </div>
  <div class="columns three">
    <a href=
    'https://play.google.com/store/apps/details?id=com.travelscavengerhunt&amp;hl=en'>
    Play Store</a><br>
  </div>

  <div class="columns six">
    <p><b><big>Travel Scavenger hunt</big></b></br> A
      native android app that allows a family to play
      a fun version of eye-spy on their phones.</p>

      <p>Whether you are traveling near or far,
        Travel Scavenger Hunt is sure to be tons of
        fun! The game prompts you to look out for
        things such a "yellow school bus" or "a red
        barn," and the first person in your group to
        locate that item gets a point...until you have
        a winner!</p>

      <p>Features: - 500+ items to find!<br>
        - Great for road trips and families!<br>
        - Easy to use<br>
        - Free!<br></p>
  </div>
<div>
<!-- End Travel Scavenger Hunt -->
<!-- Zombocolypse -->
<div class="row" style="padding: 2%;">
  <div class="columns three"
    align="center">
    <img src=
    'assets/img/zombocalypse.png' width='100%' height='100%'>
  </div>
  <div class="columns three">
    <a href='https://github.com/Fsmv/Zombocalypse/releases'>GitHub</a> </br>
    <a href='http://fsmv.github.io/Zombocalypse/'>Web Build</a> </br>
  </div>

  <div class="columns six">
    <p><b><big>Zombocolypse</big></b></br>
      A game created in
       unity for my Game Design Final Project.  The scripts for the project
       were created in C#.
      Zombies are invading the house.</br>
      Defend it.</br>
      Shoot the zombies.</br>
      Repair doors.<br></p>
  </div>
</div>
<!-- End Zombocolypse -->
<!-- Family Resource Center -->
<div class="row" style="padding: 2%;">
  <div class="columns three" align="center">
    <img src='assets/img/frc.jpg' width='100%'/>
  </div>
  <div class="columns three">
    <a href='https://github.com/wardac/FRCApp'>GitHub</a> </br>
  </div>

  <div class="columns six" >
    <b><big>Family Resource Center Database Management Application</big></b> &#8211;
      A C# application that I built for my senior capstone class.
      It is an application to help a local non-profit manage their
      clients. This is a Graphical User Interface for a SQL Server
      database.
  </div>
</div>
<!-- End Family Resource Center -->
<!-- /Personal Projects -->
