<style>
ul {
  padding-left: 40px;
  list-style-position: outside;
}
</style>
<!-- Work History -->
  <div class="row">
    <a name='work_history'></a>
    <h2>Work History</h2>
  </div>
  <!-- Solairo -->
  <div class='row'>
    <div class='columns six'>
      <img src='assets/img/companies/solairo.png'>
    </div>
    <div class='columns six'>
      <p><b><big>Solairo</big></b> <i>Software Developer</i></br>
      Apr 2017 - Present
      <p>
      B2B Chat application.  Used in major websites for customer support.
      </p>
      <ul>
        <li>Worked on team of two</li>
        <li>Created Single Page react SAAS Application with a rails backend</li>
        <li>Used by ~30 companies</li>
        <li>Worked on small team</li>
        <li>Rails 5 Backend, Typescript, React Frontend, ES6, Heroku, Cloudinary, Flux, Redux</li>
      </ul>
    </div>
  </div>
  <!-- / Solairo -->
    <!--Answrly -->
  <div class="row">
    <div class="columns six">
      <img src="assets/img/companies/Answrly_Dark.png" width='80%' height="100%" />
    </div>
    <div class="columns six">
      <p><b><big>Answrly LLC</big></b> <i>Founder</i></br>
      Jan 2016 — Feb 2017
      <p>
      A website that you can go to to get your questions answered by professionals.
      It's there to answer the questions you can't find on a search engine.
      </p>
      <ul>
        <li>Created Everything</li>
        <li>Ruby on Rails App.  Running on Amazon AWS.  Nginx. Capistrano.  Cofeescript.  Stripe.  Javascript.  Erb.</li>
        <li>Handled marketing and managing company</li>
      </ul>
    </div>
  </div>
    <!-- End Answrly -->
  <!--TCS -->
  <div class="row">
    <div class="columns six">
      <img src="assets/img/companies/tata.jpeg" width='80%' height="100%" />
    </div>
    <div class="columns six">
      <p><b><big>Tata Consultancy Services</big></b> <i>Software Engineer</i></br>
      Jul 2015 — Apr 2017
      <p>
      <ul>
        <li>Wrote ASP MVC Applications</li>
        <li>Worked on PowerShell scripts for major biomedical company</li> 
        <li>Worked in team of 8</li>
        <li>Dealt with Windows file permissions</li>
        <li>Suported Concur, Kronos, AssureNET Softwares</li>
        <li>Supported SQL Server</li>
      </ul>
    </div>
  </div>
    <!-- End TCS -->
    <!-- Snapp Digital-->
    <div class="row">
      <div class="columns six">
        <img src="assets/img/companies/snapp.png" width='80%' height="100%"/>
      </div>
      <div class="columns six">
       <p><b><big>Snapp Digital</big></b> <i>Software Developer</i></br>
        Jul 2015 — Dec 2015
        <p>
        <ul>
          <li>Coded critical piece of software to display advertisements</li>
          <li>Used PHP, Javascript, JQuery, MAMP, HTML, CSS, S3, JSON, CURL</li>
          <li>Developed restful API to track ad analytics.  Used Ruby on Rails, heroku, TDD, MVC, CURL</li>
        </ul>
      </p>
      </p>
    </div>
  </div>
    <!-- End Snapp Digital -->

    <!-- Miami University-->
    <div class="row">
      <div class="columns six">
        <img src="assets/img/companies/miami.jpeg" width='80%' height="100%"/>
      </div>
      <div class="columns six">
        <p><b><big>Miami University</big></b> <i>Resident Assistant</i></br>
          Jul 2012 — Dec 2015
          <p>
          <ul>
            <li>Directly responsible for over 100 residents over 3 years.</li>
            <li>Dealt with conflicts</li>
            <li>Worked in team of 12</li>
            <li>rganized events</li>
          </ul>
        </p>
      </div>
  </div>
  <!-- Progressive Insurance-->
    <div class="row">
      <div class="columns six">
        <img src="assets/img/companies/logo-progressive.png" width='80%' height="100%"/>
      </div>
      <div class="columns six">
     <p><b><big>Progressive Insurance</big></b> <i>Application Developer Intern</i></br>
    
        Jul 2014 — Jul 2014
        
    <p>
    <ul>
      <li>worked on the backend and front-end of Progressive.com</li> 
      <li>working on automated scripts with FitNesse</li>
      <li>C#/.NET, SASS, HTML, and CSS</li>
      <li>sped up an internal application by over 4x</li>
      <li>The application that I helped work on was an internal reporting tool that collected all of the errors in the system and display them. The displayed errors were logged into a database. Every time someone tried to query the database it could take up to a minute or longer to load all of the errors and display them on the screen. I was able to get the speed increases by implementing paging, changing data-structures, fixing multithreading issues, and eliminating a lot of wasted code. This resulted in a site that was faster and mobile responsive.</li>
    </ul>
   </div>
  </div>

   <!-- Ohio Dreams-->
  <div class="row">
    <div class="columns six">
      <img src="assets/img/companies/ohiodreams.jpg" width='80%' height="100%"/>
    </div>
    <div class="columns six">
     <p><b><big>Ohio Dreams Action Sports Camp</big></b> <i>Camp Counselor | Lifeguard | Ski Coach</i></br>
        May 2011 — Aug 2012
      
      <p>
      <ul> 
        <li>Eight week extreme sports overnight camp for ages 7 -17.</li>
        <li>Responsible for 60 campers each week from all over the world.</li>
        <li>Interacted with campers, parents, and professional athletes.</li>
        <li>Assisted in coaching skiing.</li>
        <li>Worked as lifeguard.</li>
        <li>Worked at one of the only ski water ramps in the world.</li>
      </ul>
       </p>
    </div>
  </div>
  <!-- End Ohio Dreams -->
  <!-- Independence Pool -->
  <div class="row">
      <div class="columns six">
        <img src="assets/img/companies/independence.png" width='80%' height="100%"/>
    </div>
    <div class="columns six"> 
       <p><b><big>Independence Pool</big></b> <i>Lifeguard</i></br>
      May 2009 — Aug 2012
      <p>
        <ul>
          <li>Red Cross Certified</li>
          <li>Water Safety Instructor Certified</li>
          <li>Worked Outdoor / Indoor Pool</li>
        </ul>
      </p>
    </div>
  </div>
  <!-- End Independence Pool -->
  <!-- Freeport McMoran -->
  <div class="row">
      <div class="columns six">
        <img src="assets/img/companies/fcx.jpeg" width='80%' height="100%"/>
    </div>
    <div class="columns six"> 
       <p><b><big>Freeport McMoran Copper & Gold </big></b> <i>Process Control Intern</i></br>
        Jul 2012 — Jul 2012
        <p>
        <ul>
          <li>Programmed a Allen Bradley PLC to automate a pump-house.</li>
          <li>Promoted safety throughout the mine.</li> 
          <li>Programmed in Ladder Logic.</li>
        </ul>
      </p>
    </div>
  </div>
  <!-- End Freeport McMoran -->
  <!-- Ohio Rep -->
    <div class="row">
      <div class="columns six">
        <img src="assets/img/companies/ohiorep.png" width='80%' height="100%"/>
      </div>
      <div class="columns six">
        <p><b><big>Ohio Represent T-Shirts</big></b> <i>Co-Owner and Founder</i></br> 
      Jul 2010 — Jul 2011
      <p>
      <ul>
        <li>Co-Owner and founder of "Ohio Represent", a T-Shirt company that was made to promote Cleveland, Ohio. </li>
        <li>Designed T-Shirt graphics </li>
        <li>Screen printed with quality inc and t-shirts</li>
        <li>Used professional equipment</li>
        <li>Managed currency</li>
        <li>Promoted company, developed brand strategy, web site traffic growth</li>
        <li>Produced a profitable and successful business</li>
      </ul>
    </p>
  </div>
</div>
<!-- End Ohio Rep -->
<!-- BMBW -->
<div class="row">
      <div class="columns six">
        <img src="assets/img/companies/bmbw.jpeg" width='75%' />
      </div>
      <div class="columns six">
        <p><b><big>Boston Mills & Brandywine</big></b> <i>Ski Instructor</i></br> 
        December 2009 – February 2010

        <p>
          <ul>
            <li>Instructed groups and private lessons</li>
            <li>Gave positive motivation and support</li>
            <li>Taught in a professional manner</li>
          </ul>
        </p>
      </div>
    </div>
<!-- End BMBW -->
  </div>

<!-- /Work History -->